.idea

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/.idea
**/*.iml

# Cloud Posse Build Harness https://github.com/cloudposse/build-harness
**/.build-harness
**/build-harness

# Crash log files
crash.log
test.log

# Terragrunt cache
**/.terragrunt-cache
**/.terraform.lock.hcl
# Backups
.bac

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/
